# Python-related
*.pyc
__pycache__/
*.pyo
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Database
*.sqlite3

# Static files
/static/
/media/

# Wagtail-related
.wagtail-cache/
.wagtail/
wagtail.log

# Ignore development settings
development.env

# IDE and editor files
.idea/
.vscode/
*.code-workspace

# Compiled files
*.class
*.jar
*.war

# Temporary files
*.tmp
*.bak
*~

# Logs and cache files
*.log
logs/
cache/

# Ignore secret key files
secret_key.txt
*.env
